[build]
command = "npm install && npm run build"
publish = "dist"
pages_build_output_dir = "dist"

[build.environment]
NODE_VERSION = "18"
NPM_FLAGS = "--no-package-lock"

[site]
bucket = "./dist"

[env.production]
route = "*/*"
pages_build_output_dir = "dist" 
